@charset "utf-8";
/* CSS Document */
body{
	
	background-color: #fafafa;
}
#categories {
	width: 100%;
	text-align: center;
}
#categories li {
	float: none;
	display: inline-block;
}
.vcenter {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */
	display: flex;
	align-items: center;
}
.login-body, .register-body {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
fieldset {
	border: 1px solid #FFFFFF;
	padding: 50px;
	border-radius: 25px;
	background: #FFFFFF;
	text-align: left;
	opacity: 0.7;
}
fieldset input {
	border-radius: 5px;
}
.login-btn, #submit {
	background-color: #333333;
	color: #FFFFFF;
	border-radius: 50px;
	padding: 15px;
}
.login-btn:hover, #submit:hover {
	color: #FFFFFF;
	background-color: #6a1b9a;
}
.forget {
	float: right;
}
.forget a {
	color: #000000;
	text-decoration: none;
}
.forget a:hover {
	color: #6a1b9a;
}
.register a {
	color: #000000;
	;
	text-decoration: none;
}
.register a:hover {
	color: #6a1b9a;
}
.form-top a {
	text-decoration: none;
	color: #FFFFFF;
}
.items {
	border: #eee solid 1px;
	margin: 5px;
	font-size: 16px;
}
.items:hover {
	box-shadow:0px 0px 5px 2px #9b0000;
}
.fa-cart-plus {
	color: #d50000;
}
.navbar{
	background-color: #d50000;
}
.navbar-brand, .nav.navbar-nav li a{
	color: #FAFAFA !important;
}
.buttons{
	margin-left: 10px;
	text-align: center;
}
.error{
	display: none;
}
footer{
     background-color: #d50000;
     padding:70px 0px;
}	       

footer ul li{
    padding:5px 0px;
}

.adress span , .contact span , .social span{
   color: #FAFAFA; 
   font-weight: 800; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 3px;
}
 
.adress li p , .contact li a , .social li a{
    color:#FAFAFA;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}

.social li{
    float:left;
}

.adress , .contact , .social {
    list-style: none;
}

.fa{
    color:#6B5E6B;
    margin-right: 15px;
    font-size:14px;
}

.dropdown-menu,.dropdown-toggle:active, .open ,.dropdown-toggle{
	background-color: #d50000 !important;
	text-align: center;
}
.dropdown-menu li a:hover{
	background-color: #9b0000 !important;
}