@charset "utf-8";
/* CSS Document */
<<<<<<< HEAD
#test{
	background-color:#EC1518;
	align-items: center;
}

=======
.navbar{
	background-color: #000000;
	display: inline-block;
}
>>>>>>> Technonew/master
